body{
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    background-color: cadetblue;
    color: white;
}
h1{
    font-size: 36px;
    color: pink;
    text-shadow: 2px 2px black;
    background-color: turquoise;
    margin-left: 100px;
    text-align: center;
    padding-bottom: 10px;
}
h2{
    font-size: 36px;
    text-align: center;
    color: pink;
    text-shadow: 2px 2px black;
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: 1px solid pink;
}
h3{
    color: pink;
    text-shadow: 2px 2px black;
    font-size: 20px;
    text-align: left;
    margin-left: 100px;
}
p{
    margin-left: 100px;
    text-align: justify;
}
.imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
a{
    color: pink;
    
}
ul{
    list-style-type: none;
    background-color: cadetblue;
}
li{
    display: inline;
    padding: 8px;
    display: inline-block;
    
}
nav{
    text-align: center;
}
a:hover{
    display: inline-block;
    transform: scale(1.5);
    color:aqua;
}
.maintag{
    text-align: center;
}
footer{
    text-align: center;
}